@font-face {
    font-family: Bahnschrift;
    src: url(fonts/BAHNSCHRIFT.TTF);
}

@font-face {
    font-family: Bauhaus93;
    src: url(fonts/BAUHAUS93.TTF);
}

@font-face {
    font-family: Interstate;
    src: url(fonts/Interstate-bold.ttf);
}

.header-line {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

body {
    height: 100%;
    width: 100%;
    background: #DFD7D3;
    color: #1E1E18;
    font-family: Bahnschrift;
    text-align: left;
    overflow-x: hidden;
}

button {    
    width: 80px;
}

.contact-buttons {
    font-family: 'Bahnschrift';
    font-weight: bold;
    height: 0px;
    top: 184px;
    left: 362px;
    position: absolute;
}

.contact-button {
    font-family: Bahnschrift;
    color: #1E1E18;
    font-size: 35pt;
    text-decoration: none;
    background: transparent;
    border: none !important;
    font-weight: bold;
}

.contact-button:hover {
    color: #EB4A30;
}
.contact-button:active {
    outline: none;
}

.container-fluid {
    padding-top: 20px;
}

.header-title {
    width: 100%;
    text-align: left;
    font-size: 30pt;
    color: #1E1E18;
    font-family: Bahnschrift;
    padding-top: 40px;
    padding-bottom: 0px;
    height: 220px;
    margin-left: -15px;
    margin-right: -15px;
}

.header-line {
    position: relative;
    width: 100%;
    height: 30px;
}

.lines-left {
    display: inline-block;
    position: absolute;
    width: 100px;
}

.logo-container {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 94px;
}

.lines-right {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0%;
}


.logo-title {
    font-family: Bauhaus93;
    color: #EB4A30;
    text-align: center;
}

.name-title {
    font-family: Interstate;
    color: #1E1E18;
    letter-spacing: -9px;
    display: block;
    position: absolute;
}


a, a:link, a:visited {
    font-family: Bahnschrift;
    color: #1E1E18;
    font-size: 35pt;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #EB4A30;
}

.row {
    padding-bottom: 0px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

#contact_div {
    width: 60%;
    margin: 50px auto 0px auto; 
    position: relative;
    display: block;
}

#contact_form {
    width: 100%;
    margin: 0 auto;
}

#top_row {
}

#bottom_row {
}

.card_row {
    margin: 0 auto;
    width: 90%;
}

.card {
    height: 100%;
    background-color: #FBFBFB;
    box-shadow: -5px 5px 6px 1px rgba(93, 89, 79, 0.5);
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 0px;
    border-radius: 0;
}
.card-bar {
    height: 100%;
    width: 30px;
    background-color: #E8E8E8;
    padding-right: 0px;
}
.card-title {
    font-size: 22pt;
    font-family: Interstate;
    margin-top: 10px;
    margin-bottom: 0px;
}
.card-subtitle {
    font-size: 13pt;
    color: #EB4A30;
    margin-bottom: 10px;
    margin-top: -.2rem;
}
.card-img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-left: 15%;
}
.card-buttons {
    font-size: 12pt;
    text-align: center;
    width: 100%;
    margin: -60px auto 0px auto;
    position: absolute;
    top: 100%;
}

.button-1 {
    background-color: #1E1E18;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2 {
    background-color: #EB4A30;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2-inactive {
    background-color: #FBFBFB;
    height: 34px;
    border-radius: 5rem !important;
    border-style: solid;
    border-color: #EB4A30;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #EB4A30;
    text-align: center;
}

.project_title {
    font-size: 22pt;
    font-family: Interstate;
    margin-top: 10px;
    margin-bottom: 0px;
}

.tcard {
    height: 100%;
    background-color: #FBFBFB;
    position: relative;
    box-shadow: -5px 5px 6px 1px rgba(93, 89, 79, 0.5);
}

.tcard-bar {
    background-color: #E8E8E8;
    width: 30px;
}

.tcard-bar-text-wrapper {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: inherit;
    margin-top: 500px;
}

.tcard-bar-text {
    text-align: right;
    width: 500px;
}

.tcard-body-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px 20px;
    margin-bottom: 75px;
}

.tcard-body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.tcard-title {
    font-size: 22pt;
    font-family: Interstate;
    margin-top: 10px;
    margin-bottom: 2px;
}

.tcard-subtitle {
    font-size: 13pt;
    color: #EB4A30;
    margin-bottom: 10px;
    margin-top: -.2rem;
}

.tcard-text {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #1E1E18;
    text-align: left;
    font-family: Bahnschrift;
}

.tcard-img {
    width: 70%;
    margin: 20px auto;
}

.tcard-buttons {
    font-size: 12pt;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: -75px;
}

img {
    width: 100%;
}

#award_link {
    color: #EB4A30;
    font-size: 1rem;
}

.no-margin {
    margin: 0;
}

.proj-tcard {
    width: 70%;
    background-color: #FBFBFB;
    position: relative;
    margin: 80px auto 30px auto;
    box-shadow: -5px 5px 6px 1px rgba(93, 89, 79, 0.5);
}

.proj-tcard-buttons {
    font-size: 12pt;
    text-align: center;
    width: 100%;
    margin: 20px auto 20px auto;
    position: absolute;
    top: 100%;
}