.header-line {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

body {
    height: 100%;
    background: #DFD7D3;
    color: #1E1E18;
    font-family: Bahnschrift;
    text-align: left;
    overflow-x: hidden;
}

button {
    width: 80px;
}

.contact-buttons {
    font-family: 'Bahnschrift';
    font-weight: bold;
    height: 0px;
    top: 184px;
    left: 362px;
    position: absolute;
}


.container-fluid {
    padding-top: 20px;
}


.header-title {
    width: 100%;
    text-align: left;
    font-size: 30pt;
    color: #1E1E18;
    font-family: 'Bahnschrift';
    padding-top: 40px;
    padding-bottom: 0px;
    height: 220px;
    margin-left: -15px;
    margin-right: -15px;
}

.header-line {
    position: relative;
    width: 100%;
    height: 30px;
}

.lines-left {
    display: inline-block;
    position: absolute;
    width: 100px;
}

.logo-container {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 94px;
}

.lines-right {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0%;
}


.logo-title {
    font-family: 'Bauhaus 93';
    color: #EB4A30;
    text-align: center;
    
}

.name-title {
    font-family: Interstate;
    color: #1E1E18;
    letter-spacing: -10px;
    display: block;
    position: absolute;
}


a, a:link, a:visited {
    font-family: Bahnschrift;
    color: #1E1E18;
    font-size: 35pt;
}

a:hover {
    color: #EB4A30;
}

.row {
    padding-bottom: 50px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #FBFBFB;
    box-shadow: -5px 5px 6px 1px rgba(93, 89, 79, 0.5);
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 0px;
    border-radius: 0;
}
.card-bar {
    height: 100%;
    width: 40px;
    background-color: #E8E8E8;
    padding-right: 0px;
}
.card-title {
    font-size: 22pt;
    font-family: Interstate;
    margin-top: 10px;
    margin-bottom: 0px;
}
.card-subtitle {
    font-size: 14pt;
    color: #EB4A30;
    margin-bottom: 10px;
    margin-top: -.2rem;
}
.card-img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-left: 15%;
}
.card-buttons {
    font-size: 12pt;
    padding: 0;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    top: 90%;
    margin-left: 16.5%;
}

.button-1 {
    background-color: #1E1E18;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2 {
    background-color: #EB4A30;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2-inactive {
    background-color: #FBFBFB;
    height: 34px;
    border-radius: 5rem !important;
    border-style: solid;
    border-color: #EB4A30;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #EB4A30;
    text-align: center;
}

