.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    /*
    background: linear-gradient(125deg, 
        rgba(255,252,242,1) 0%, 
        rgba(255,252,242,1) 50%, 
        rgba(190,2,26,1) 50%,
        rgba(190,2,26,1) 55%, 
        rgba(209,128,36,1) 55%, 
        rgba(209,128,36,1) 60%, 
        rgba(255,234,7,1) 60%, 
        rgba(255,234,7,1) 65%, 
        rgba(127,175,66,1) 65%, 
        rgba(127,175,66,1) 70%, 
        rgba(8,152,223,1) 70%, 
        rgba(8,152,223,1) 75%, 
        rgba(255,252,242,1) 75%, 
        rgba(255,252,242,1) 100%);
    */
    /*
    background: linear-gradient(125deg, 
        rgba(255,252,242,1) 0%, 
        rgba(255,252,242,1) 50%, 
        rgba(190,2,26,1) 50%,
        rgba(190,2,26,1) 52.5%, 
        rgba(209,128,36,1) 52.5%, 
        rgba(209,128,36,1) 55%, 
        rgba(255,234,7,1) 55%, 
        rgba(255,234,7,1) 57.5%, 
        rgba(127,175,66,1) 57.5%, 
        rgba(127,175,66,1) 60%, 
        rgba(8,152,223,1) 60%, 
        rgba(8,152,223,1) 62.5%, 
        rgba(255,252,242,1) 62.5%, 
        rgba(255,252,242,1) 100%);
    */
    
    background: linear-gradient(180deg, 
        rgba(255,252,242,1) 0%, 
        rgba(255,252,242,1) 25%, 
        rgba(190,2,26,1) 25%,
        rgba(190,2,26,1) 30%, 
        rgba(209,128,36,1) 30%, 
        rgba(209,128,36,1) 35%, 
        rgba(255,234,7,1) 35%, 
        rgba(255,234,7,1) 40%, 
        rgba(127,175,66,1) 40%, 
        rgba(127,175,66,1) 45%, 
        rgba(8,152,223,1) 45%, 
        rgba(8,152,223,1) 50%, 
        rgba(255,252,242,1) 50%, 
        rgba(255,252,242,1) 100%);
    
    /*
    background: linear-gradient(180deg, 
        rgba(255,252,242,1) 0%, 
        rgba(255,252,242,1) 30%,
        
        rgba(190,2,26,1) 30%,
        rgba(190,2,26,1) 31%,

        rgba(255,252,242,1) 31%, 
        rgba(255,252,242,1) 32%,

        rgba(209,128,36,1) 32%,
        rgba(209,128,36,1) 33%,
    
        rgba(255,252,242,1) 33%, 
        rgba(255,252,242,1) 34%,

        rgba(255,234,7,1) 34%,
        rgba(255,234,7,1) 35%, 

        rgba(255,252,242,1) 35%, 
        rgba(255,252,242,1) 36%,

        rgba(127,175,66,1) 36%, 
        rgba(127,175,66,1) 37%,
    
        rgba(255,252,242,1) 37%, 
        rgba(255,252,242,1) 38%,

        rgba(8,152,223,1) 38%, 
        rgba(8,152,223,1) 39%, 
    
        rgba(255,252,242,1) 39%, 
        rgba(255,252,242,1) 100%);
    */
}

.name-title {
    background-color: #5D594F;
    border-radius: 5rem !important;
    margin-left: -10%;
}

a, a:link, a:visited {
    font-family: Bahnschrift;
    color: inherit;
}

h1 {
    font-size: 50pt;
    font-family: 'Bahnschrift';
    vertical-align: middle;
    color: white;
    text-align: center;
}

.button-1 {
    background-color: #5D594F;
    border-radius: 5rem !important;
    color: #FFFFFF;
    text-align: center;
    width: 125px;
    display: inline-block;
    margin: 5px;
    height: 40px;
    border-style: none;
}
.button-2 {
    border-color: #5D594F;
    border-width: 2px;
    border-style: solid;
    border-radius: 5rem !important;
    text-align: center;
    color: #5D594F;
    background-color: #FFFFFF;
    width: 125px;
    display: inline-block;
    margin: 5px;
    height: 40px;
}

.header-title {
    text-align: left;
    font-size: 30pt;
    color: #5D594F;
    font-family: 'Bahnschrift';
    padding-bottom: 80px;
}


body {
    height: 100%;
    background: #FFFCF2;
    color: #5D594F;
    font-family: 'Segoe UI';
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 2rem !important;
    box-shadow: 0 2px 3px 2px rgba(93, 89, 79, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.card-img {
    width: 70%;
    margin: 0 auto;
}
.card-title {
    font-size: 35pt;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-top: 20px;
    line-height: 80%;
}
.card-subtitle {
    font-size: 12pt;
    font-weight: lighter;
}
.card-body {
    font-size: 12pt;
}