.header-line {
    height: 40px;
    width: auto;
    margin-top: 5px;
}

body {
    height: 100%;
    background: #DFD7D3;
    color: #1E1E18;
    font-family: Bahnschrift;
    text-align: left;
}


.contact-buttons {
    font-family: 'Bahnschrift';
    font-weight: bold;
    height: 0px;
    margin-top: -100px;
    padding-top: 10px;
    margin-left: 230px;
}


.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}


.header-title {
    width: 100%;
    text-align: left;
    font-size: 30pt;
    color: #1E1E18;
    font-family: 'Bahnschrift';
    padding-top: 40px;
    padding-bottom: 0px;
}

.logo-container {
    margin-top: -180px;
    display: inline-block;
}

.logo-title {
    font-family: 'Bauhaus 93';
    color: #EB4A30;
    text-align: center;
    display: inline-block;
}

.name-title {
    font-family: Interstate;
    color: #1E1E18;
    letter-spacing: -10px;
}


a, a:link, a:visited {
    font-family: Bahnschrift;
    color: #1E1E18;
    font-size: 35pt;
}

.row {
    padding-bottom: 50px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #FBFBFB;
    box-shadow: -5px 5px 6px 1px rgba(93, 89, 79, 0.5);
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 0px;
    border-radius: 0;
}
.card-bar {
    height: 100%;
    width: 40px;
    background-color: #E8E8E8;
    padding-right: 0px;
}
.card-title {
    font-size: 28pt;
    font-family: Interstate;
    margin-top: 10px;
    margin-bottom: 0px;
}
.card-subtitle {
    font-size: 14pt;
    color: #EB4A30;
    margin-bottom: 10px;
    margin-top: -.2rem;
}
.card-body {
    font-size: 12pt;
    padding: 0;
    margin-bottom: 10px;
}
.card-img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-buttons {
    font-size: 12pt;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

.button-1 {
    background-color: #1E1E18;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2 {
    background-color: #EB4A30;
    height: 34px;
    border-radius: 5rem !important;
    border-style: none;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #FBFBFB;
    text-align: center;
}

.button-2-inactive {
    background-color: #FBFBFB;
    height: 34px;
    border-radius: 5rem !important;
    border-style: solid;
    border-color: #EB4A30;
    margin: 5px;
    display: inline-block;
    font-family: 'Bahnschrift';
    font-size: 12pt;
    color: #EB4A30;
    text-align: center;
}

